{{ define "login" }}
    <!DOCTYPE html>
    <html lang="fa">
    {{ template "head" }}
    <body>
    <div class="wrapper">
        {{ template "header" }}
        {{ template "navigation" }}
        <div class="content">
            <form class="form" method="post" action="/login">
                <input type="text" name="username" placeholder="{{ "username" | trans }}">
                <input type="password" name="password" placeholder="{{ "password" | trans }}">
                <input type="checkbox" id="remember-me" name="rememberMe">
                <label for="remember-me">{{ "remember-me" | trans}}</label>
                <div class="button-group">
                    <button type="submit">{{ "sign-in" | trans }}</button>
                    <button type="reset">{{ "reset" | trans }}</button>
                </div>
            </form>
        </div>
        {{ template "footer" }}
    </div>
    </body>
    </html>
{{ end }}